.field-container, .method-container {
  border: 1px solid black;
  border-top: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 5px;
}

.title-container {
  border: 1px solid black;
  min-height: 35px;
  width: 100%;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  min-width: 200px;
  position: relative;
}

.name-type-edit-container, .two-cols-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 10px;
}

.name-type-edit-container {
  width: 90%;
  margin: 15px auto;
}